body {
    width: 75%;
    margin-left: 10%;
}

#logo {
    margin-top: 15px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    background-color: #1c5c27;
    color: white;
    text-align: center;
    padding: 8px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 8px;
}

.links {
    text-decoration: none;
    text-transform: uppercase; 
}

.email {
    text-decoration: none;
}

li {
    margin: 15px;
    font-size: 18px;
}

a:hover {
    color: green;
}

a:active {
    color: #1c5c27
}

a:visited {
    color: cornflowerblue;
}

aside {
    float: right;
}

legend {
    position: relative;
    left: 25%;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    background-color: gray;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 30px;
}

form {
    font-size: 12px;
    background-color: #1c5c27;
    max-width: 500px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px black;
    padding: 10px;
    margin: 0 auto;
}

input, textarea {
    width: 400px;
    padding: 10px;
    color: black;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid;
    background-color: gainsboro;
}

input:hover, textarea:hover, input:focus, textarea:focus {
    box-shadow: 5px 0px 9px #110f38;
    background-color: white;
    color: black;
    font-weight: bold;
}

.enviar {
    width: 100px;
    height: 40px;
    margin-left: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid;
    color: black;
}

textarea {
    width: 400px;
    height: 120px;
    line-height: 20px;
    max-width: 400px;
}

form label {
    margin-left: 20px;
    color: white;
    font-weight: bold;
}

@media screen and (max-width:900px) { 

    aside {
        width: 75%;
        padding: 2%;
    }

    input, textarea {
        width: 75%;
    }

}

