body { /* Estilização do corpo do site */
    font-family: Arial, Helvetica, sans-serif;
    width: 90%; /* Total de ocupação do texto do navegador */
    margin: 0 auto; /* Distrubição proporcional do conteúdo */
    background: linear-gradient(to right, #0b1726, #1f3f66); /* Degradê */
}

header { /* Definir cabeçalho */ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #161616;
    border-radius: 5px; /* Arredondar cantos */
    margin-top: 10px;
}

.logo img { /* Estilizando a imagem do logo */
    width: 45%; /* Define tamanho da imagem em relação ao aumento ou diminuição de largura do navegador */
    padding-top: 50px;
}

.navegacao {
    overflow: hidden;
}

.navegacao a { /* Estilização de hyperlinks */
    float: right; /* Disposição dos hyperlinks a direita */
    color: rgb(173, 173, 173);
    text-decoration: none; /* Elimina o sublinhado */
    padding: 10px;
}

.navegacao a:hover {
    color: #e32936;
}

.principal {
    display: flex; /* Organiza a disposição do conteúdo, neste caso colocou as divs de conteúdo uma ao lado da outra */
    flex-direction: row;
}

.conteudo { /* Estilização do conteúdo */
    background-color: gainsboro;
    text-align: justify;
    padding: 15px;
    margin: 15px 10px 25px 10px;
    float: left; /* Disposição do conteúdo */
    border-radius: 5px;
    box-shadow: 10px 10px 10px #08101a98;
}

.rodape{
    color: darkgray;
    font-size: 10px;
    text-align: center;
    padding: 20px;
}

@media screen and (max-width:600px){ /* Responsividade; alteração do layout de acordo com o tamanho da tela */

    body, .principal, .conteudo { /* Definem os escopos a serem alterados */
        width: 100%;
        flex-direction: column;
        padding: 0px;
    }

}



